<div class="modal fade" id="contactsModal" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Quản lý liên lạc</h4>
          </div>
          <div class="modal-body">
              <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#find-user">Tìm người dùng</a></li>
                  <li><a data-toggle="tab" id="link-contacts" href="#contacts">
                      Danh bạ
                        <span class="show-number-contacts count-contacts">
                            <i>
                                <%if(countAllFriend==0){%>
                            <%}else{%>
                             <%=countAllFriend%>   
                            <%}%>
                            </i>
                            
                            </span>
                  </a></li>
                  <li><a data-toggle="tab" id="link-request-contact-sent" href="#request-contact-sent">
                      Đang chờ xác nhận <span class="show-number-contacts count-request-contact-sent span-wait-accept">
                        <i><%if(countWaitAccept==0){%>
                            <%}else{%>
                             <%=countWaitAccept%>
                            <%}%>
                        </i>
                      </span>
                  </a></li>
                  <li><a data-toggle="tab" id="link-request-contact-received" href="#request-contact-received">
                      Yêu cầu kết bạn <span class="show-number-contacts count-request-contact-received">
                            <i>
                                <%if(countSender==0){%>
                                    <%}else{%>
                                    <%=countSender%>   
                                <%}%>
                            </i>
                      </span>
                  </a></li>
              </ul>
              <div class="tab-content">
                  <div id="find-user" class="tab-pane fade in active">
                      <div class="find-user-top">
                          <div class="input-group col-md-12">
                              <form>
                              <input type="text" class="form-control" id="input-search-user" placeholder="Nhập username muốn tìm..." />
                              <span class="input-group-btn">
                                  <button id="find-contact" class="btn btn-lg" type="submit">
                                      <i class="glyphicon glyphicon-search"></i>
                                  </button>
                              </span>
                            </form>
                          </div>
                      </div>
                      <div class="find-user-bottom">
                          <ul class="contactList find-user" id="contact-list">
   
                          </ul>
                      </div>
                  </div>
                  <!-- //danh ba -->
                  <div id="contacts" class="tab-pane fade">
                      <div class="find-user-bottom">
                          <ul class="contactList list-friend">
                              <% allFriend.forEach(friend=>{%>
                                <li class="_contactList" data-uid="<%= friend._id %>">
                                  <div class="contactPanel">
                                      <div class="user-avatar">
                                          <img src="<%= friend.avatar %>">
                                      </div>
                                      <div class="user-name">
                                          <p>
                                                <%= friend.userName %>
                                          </p>
                                      </div>
                                      <br>
                                      <div class="user-address">
                                          <span>&nbsp Hà Nội, Việt Nam.</span>
                                      </div>
                                      <div class="user-talk" data-uid="<%= friend._id %>">
                                          Trò chuyện
                                      </div>
                                      <div class="user-remove-friend action-danger" data-uid="<%= friend._id %>">
                                          Xóa liên hệ
                                      </div>
                                  </div>
                                </li>
                              <%})%>
                             
                               
                          </ul>
                             <%if(allFriend.length>=10){%>
                                    <a class="load-more is-friend">Xem thêm.</a>
                                <%}else if(allFriend.length==0){%>
                                    <p>Không có bạn bè</>
                                <%}%>
                      </div>
                  </div>
                  <!-- dang cho -->
                  <div id="request-contact-sent" class="tab-pane fade">
                      <div class="find-user-bottom">
                          <ul class="contactList">
                              <% waitAccept.forEach(user=>{%>
                                 <li class="_contactList" data-uid="<%= user._id%>">
                                  <div class="contactPanel">
                                      <div class="user-avatar">
                                          <img src="<%= user.avatar%>" alt="">
                                      </div>
                                      <div class="user-name">
                                          <p>
                                                <%= user.userName%>
                                          </p>
                                      </div>
                                      <br>
                                      <div class="user-address">
                                          <span>
                                                <%if(user.address){%>
                                                  <%= user.address%>
                                                <%}else{%>
                                                    Không rõ địa chỉ.
                                                <%}%>
                                            
                                            </span>
                                      </div>
                                      <div class="user-remove-request-contact action-danger contact-important" data-uid="<%= user._id%>">
                                          Hủy yêu cầu
                                      </div>
                                  </div>
                              </li>
                                
                                <%})%>
                              
                          </ul>
                                <%if(waitAccept.length>=10){%>
                                    <a class="load-more">Xem thêm.</a>
                                <%}else if(waitAccept.length==0){%>
                                    <p class='require'>Tất cả yêu cầu đều được chấp thuận hết rôi.</>
                                <%}%>
                      </div>
                  </div>
                  <!-- yeu cau -->
                  <div id="request-contact-received" class="tab-pane fade">
                      <div class="find-user-bottom">
                          <ul class="contactList" id="list-received">
                            <%sender.forEach(user=>{%>
                                <li class="_contactList" data-uid="<%= user._id%>">
                                    <div class="contactPanel">
                                        <div class="user-avatar">
                                            <img src="<%= user.avatar%>" alt="">
                                        </div>
                                        <div class="user-name">
                                            <p>
                                                    <%= user.userName%>
                                                    <%= user.password%>
                                            </p>
                                        </div>
                                        <br>
                                        <div class="user-address">
                                            <span> <%if(user.address){%>
                                                <%= user.address%>
                                                <%}else{%>
                                                    Không rõ địa chỉ.
                                                <%}%></span>
                                        </div>
                                        <div class="user-acccept-contact-received" data-uid="<%= user._id%>">
                                            Chấp nhận
                                        </div>
                                        <div class="user-reject-request-contact-received action-danger" data-uid="<%= user._id%>">
                                            Xóa yêu cầu
                                        </div>
                                    </div>
                                </li>
                            <%})%>
                            <%if(sender.length>=10){%>
                                <a class="load-more">Xem thêm.</a>
                            <%}else if(sender.length==0){%>
                                <p>Không có yêu cầu kết bạn.</>
                            <%}else{%><%}%>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>