<div class="col-sm-3 sidenav no-padding">
  <div class="left">
      <div class="top form-group">
          <select class="form-control" id="select-type-chat">
              <option data-target="#allchat" value="all-chat">Toàn bộ trò chuyện</option>
              <option data-target="#userchat" value="user-chat">Trò chuyện cá nhân</option>
              <option data-target="#groupchat" value="group-chat">Trò chuyện nhóm</option>
          </select>
          <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
              title="Tạo một nhóm trò chuyện mới"></a>
      </div>
      
      <div class="tab-content">
        <div id="allchat" class="tab-pane active" >
            
                <ul class="people no-padding-start">
                    <% getFriends.forEach(conver=>{%>
                        <% if(conver.member){%>
                            <a  href="#uid<%= conver.id%>" class="room-chat
                                    <" data-target="#to_<%= conver.id%>">
                                <li class="person group-chat <%conver.message.forEach((value,key)=>{%>
                                        <%if(key==conver.message.length-1){%>
                                            <%if(value.senderId!=user._id && value.isRead==false){%>un-read<%}%>
                                        <%}%>
                                    <%})%>" data-chat="<%= conver.id%>" >
                                    <div class="left-avatar">
                                        <img src="./images/users/group-avatar-trungquandev.png" alt="">
                                    </div>
                                    <span class="name group-chat-name">
                                        Group:<%= conver.name%>
                                    </span>
                                    <span class="time
                                    "> <%conver.message.forEach((value,key)=>{%>
                                        <%if(key==conver.message.length-1){%>
                                            <%= convertTimeMessages(value.createdAt)%>
                                        <%}%>
                                    <%})%></span>
                                    <span class="preview">   <%conver.message.forEach((value,key)=>{%>
                                        <%if(key==conver.message.length-1){%>
                                            <% if(value.text){%>
                                                <%= value.text%>    
                                            <%}else if(value.messageType=="image"){%>
                                                Ảnh   
                                            <%}else{%>
                                                Tệp đính kèm
                                        <%}}%>
                                    <%})%>    </span>
                                </li>
                            </a>
                        <%}else{%>
                            <a  href="#uid<%= conver.id%>" class="room-chat" data-target="#to_<%= conver.id%>">
                                    <li class="person <%conver.message.forEach((value,key)=>{%>
                                    <%if(key==conver.message.length-1){%>
                                        <%if(value.receiverId==user._id&&value.isRead==false){%>un-read<%}%>
                                    <%}%>
                                <%})%>" data-chat="<%= conver.id%>">
                                        <div class="left-avatar">
                                            <div class="dot"></div>
                                            <img src="<%= conver.avatar%>" alt="">
                                        </div>
                                        <span class="name">
                                                <%= conver.userName%>
                                        </span>
                                        <span class="time">
                                                <%conver.message.forEach((value,key)=>{%>
                                                    <%if(key==conver.message.length-1){%>
                                                        <%= convertTimeMessages(value.createdAt)%>
                                                    <%}%>
                                                <%})%>
                                           </span></br>
                                        <span class="preview">   <%conver.message.forEach((value,key)=>{%>
                                            <%if(key==conver.message.length-1){%>
                                                <% if(value.text){%>
                                                    <%= value.text%>    
                                                <%}else if(value.messageType=="image"){%>
                                                    Ảnh   
                                                <%}else{%>
                                                    Tệp đính kèm
                                            <%}}%>
                                        <%})%>    </span>
                                    </li>
                                </a>
                        <%}%>
                        
                        <%})%>
                       
                    </ul>
        </div>
        <div id="userchat" class="tab-pane " >
                <ul class="people no-padding-start">
                        <% getFriends.forEach(conver=>{%>
                            <% if(conver.member){%>
                            <%}else{%>
                                <a  href="#uid<%= conver.id%>" class="room-chat" data-target="#to_<%= conver.id%>">
                                        <li class="person" data-chat="<%= conver.id%>">
                                            <div class="left-avatar">
                                                
                                                <img src="<%= conver.avatar%>" alt="">
                                            </div>
                                            <span class="name">
                                                    <%= conver.userName%>
                                            </span>
                                            <span class="time">Một phút trước</span>
                                            <span class="preview">
                                                <%conver.message.forEach((value,key)=>{%>
                                                    <%if(key==conver.message.length-1){%>
                                                        <% if(value.text){%>
                                                            <%= value.text%>    
                                                        <%}else{%>
                                                            A file    
                                                        <%}%>
                                                    <%}%>
                                                <%})%>                                           
                                               
                                            </span>
                                        </li>
                                    </a>
                            <%}%>
                            
                            <%})%>
                           
                        </ul>
        </div>
        <div id="groupchat" class="tab-pane" >
                <ul class="people no-padding-start">
                        <% getFriends.forEach(conver=>{%>
                            <% if(conver.member){%>
                                <a  href="#uid<%= conver.id%>" class="room-chat" data-target="#to_<%= conver.id%>">
                                    <li class="person group-chat" data-chat="<%= conver.id%>">
                                        <div class="left-avatar">
                                         
                                            <img src="./images/users/group-avatar-trungquandev.png" alt="">
                                        </div>
                                        <span class="name">
                                            <span class="group-chat-name">Group:</span> <%= conver.name%>
                                        </span>
                                        <span class="time">Hai giờ trước</span>
                                        <span class="preview">Chào cả nhóm</span>
                                    </li>
                                </a>
                            <%}else{%>
                
                            <%}%>
                            
                            <%})%>
                           
                        </ul>
        </div>
      </div>   
  </div>
</div>